<% provide :title, 'Home' %>

<% if signed_in? %>
  <h1>What's up?</h1>

  <%= render 'shared/micropost_form' %>
  <%= render 'shared/feed' %>


  <td class="sidebar round">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </td>

<% else %>
  <div class="hero-unit">
    <h1>Sample App</h1>
    <p style="margin: 20px 0;">
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    <p><%= link_to "Sign up now!", signup_path, :class => "btn btn-primary btn-large" %> </p>
  </div>

<% end %>
